#root{
  background-color: rgba(238, 237, 241, 0.404);
  height: 100%;
}

.logoPokemon{
  display: block;
  margin: 0 auto;
  width: 500px;
  }

  /*BARRE DE RECHERCHE*/

  .search{
    background-color: #D3DAFD;
    padding: 10px;
    border: 1px solid #D3DAFD;
    border-radius: 20px;
  }

  .searchBar{
    background-color: rgba(255, 0, 0, 0.582);
    padding: 10px;
    border-radius: 20px;
  }
  /*STYLE CARTE POKEMON */

  .pokemons{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
  }
  .card{
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 280px;
    transition: top ease 2s;
  }
  .card:hover{
    top : -10px;
  }


  .card-title{
    text-align: center;
    margin-top: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.8em;
   
  }

  .link{
     text-decoration: none;
     color: black;
  }